.button {
  cursor: pointer;
  background-color: transparent;
  padding: 5px 10px;
  border: 2px solid black;
  transition: box-shadow 0.5s;
  text-align: center;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  box-shadow: 5px 5px 10px black;
}
