.h2 {
  text-align: center;
  margin: 30px 0;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(318px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: start;
}
.backbtn {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notFound img {
  width: 100%;
}
